

.gmail 
{
    color: red;
}


.linkedin_link
{
    background-color:rgb(16, 59, 201);
    color: white;
    border: 2px solid;
    border-radius: 5px;
    padding:10px;
}
.twitter_link
{
    background-color:rgb(27, 164, 214);
    color: white;
    border: 2px solid;
    border-radius: 5px;
    padding:10px;
}
.upwork_link
{
    background-color:black;
    color: white;
    border: 2px solid;
    border-radius: 5px;
    padding:10px;
}

@media only screen and (min-width: 0px) and (max-width: 767px) 
{


    .desk_footer
    {
        visibility:none;
        display: none;
    }

    p 
    {
        line-height: 25px;
    }
    .card {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: auto;
        margin-top: 50px;
        margin-bottom: 50px;
        padding:20px;
        overflow: hidden;
        box-shadow: 2px 5px rgba(0, 0, 0, 0.1), -2px 0px rgba(0, 0, 0, 0.1);
        border-radius: 1em;
        color: black;
        background: #ECE9E6;
      background: linear-gradient(to right, #FFFFFF, #ECE9E6);
      
      }


      .heading 
      {
          padding-bottom: 20px;
          line-height: 30px;
      }


      .github_link
      {
          background-color:rgb(128, 16, 124);
          color: white;
          border: 2px solid;
          border-radius: 5px;
          padding:10px;
      }

      .github_link_p
      {
          display: flex;
          margin-top: 30px;
          justify-content: center;
      }

      .tab_section 
      {
          display:none;
          visibility:none;
      }


      .image_p
      {
          display:flex;
          justify-content: center;
          align-items: center;
      }
      .image_p img 
      {
          width: 100px; 
          height:100px;
      }


      .tab_section 
      {
          display:none;
          visibility:none;
      }

      .contact_text
      {
        text-align: center;
      }

      
}


/*--------------------------this is for tab layout --------------------------------*/
@media only screen and (min-width: 768px) and (max-width: 1007px)
{

    .mobile_desktop_section
    {
        display:none;
        visibility:none;
    }


    .desk_footer
    {
        visibility:none;
        display: none;
    }


    p 
    {
        line-height: 30px;
    }


    .card {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: auto;
        margin-top: 50px;
        margin-bottom: 50px;
        padding:20px;
        overflow: hidden;
        box-shadow: 2px 5px rgba(0, 0, 0, 0.1), -2px 0px rgba(0, 0, 0, 0.1);
        border-radius: 1em;
        color: black;
        background: #ECE9E6;
      background: linear-gradient(to right, #FFFFFF, #ECE9E6);
      
      }




      .heading 
      {
          padding-bottom: 20px;
          line-height: 50px;
      }


      .github_link
      {
          background-color:rgb(128, 16, 124);
          color: white;
          border: 2px solid;
          border-radius: 5px;
          padding:10px;
      }

      .github_link_p
      {
          display: flex;
          margin-top: 30px;
          justify-content: center;
      }

      .image_p
      {
          display:flex;
          justify-content: center;
          align-items: center;
      }
      .image_p img 
      {
          width: 100px; 
          height:100px;
      }


      .contact_text
      {
        text-align: center;
      }


}

@media only screen and (min-width: 1008px) and (max-width: 1605px) 
{

    /*-----------------disable mobile and tab view --------------------*/
    .tab_section
    {
        display:none;
        visibility:none;
    }

    .mobile_desktop_section
    {
        display:none;
        visibility:none;
    }

    .tab_footer
    {
        display:none;
        visibility:none;
    }

    /* ----------------------desktop main styling -----------------------*/

    .container
    {
        width:80vw;
        margin: auto;
    }

    .desktop_section
    {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .contact_info_twitter
    {
        width:90%;
        margin: auto;
        margin-top: 50px;
        background-color: rgb(0, 179, 255);
        display: flex;
        padding:20px;
        height: 100%;
    }

    .contact_info_gmail
    {
        width:90%;
        margin: auto;
        margin-top: 50px;
        background-color: red;
        display: flex;
        padding:20px;
        height: 100%;
    }

    .contact_info_linkedin
    {
        width:90%;
        margin: auto;
        margin-top: 50px;
        background-color: blue;
        display: flex;
        padding:20px;
        height: 100%;
    }

    .contact_info_upwork
    {
        width:90%;
        margin: auto;
        margin-top: 50px;
        background-color: black;
        display: flex;
        padding:20px;
        height: 100%;
        margin-bottom: 50px;
    }


    .contact_icon
    {
        width:40%;
    }

    .contact_text
    {
        width: 60%;
        padding: 20px;
    }

    .contact_icon_div
    {
        width:150px;
        height:150px;
        display:flex;
        justify-content:center;
        align-items: center;
        border: 2px solid black;
        border-radius: 75px;
        background-color: white;
    }

    .contact_img
    {
        width:100px;
        height:100px;
        padding: 20px;
    }

    .contact_text_div
    {
        margin-top: 20px;
    }

    .contact_text_p
    {
        padding-left:20px;
        display: flex;
        font-size: 25px;
        align-items: center;
    }

    .project_setting_contact
    {
      width:25px;
      height: 25px;
      margin-right: 10px;
    }

    .contact_ul
    {
        margin-top: 30px;
    }

    .contact_li
    {
        margin-top:10px;
    }

    .li_a
    {
        transition: border-bottom 2s ;
    }

    .li_a:hover
    {
        border-bottom: 1px solid black;
        transition: 2s;
    }

    .contact_text_h1
    {
        margin-top: 10px;
        color: rgb(220, 220, 220);
    }

    .profile_button
    {
        width: 30%;
        background-color: black;
        padding: 10px;
        margin: auto;
        margin-top: 50px;
        display: flex;
        justify-content: center;
        border-radius: 5px;
    }

    .profile_button_upwork
    {
        width: 30%;
        background-color: white;
        padding: 10px;
        margin: auto;
        margin-top: 50px;
        display: flex;
        justify-content: center;
        border-radius: 5px;
    }

    .reach_out
    {
        color: white;
    }
    .reach_out_upwork
    {
        color: white;
    }
    .reach_out_upwork2
    {
        color: black;
    }




}