

    .php
    {
        background-color: rgb(70, 76, 158);
        color: white;
        padding:3px 10px;
    }

    .bootstrap
    {
        background-color: rgb(191, 191, 183);
        color: white;
        padding:3px 10px;
    }


    .javascript
    {
        background-color: rgb(225, 219, 66);
        color: white;
        padding:1px 10px;
    }

    .node
    {
        background-color: rgb(119, 225, 66);
        color: white;
        padding:2px 10px;
    }
    .express
    {
        background-color: rgb(66, 225, 151);
        color: white;
        padding:1px 10px;

    }






/*--------------------------this is for mobile layout ------------------------*/
@media only screen and (min-width: 0px) and (max-width: 767px) 
{

    .desktop_view 
    {
        display:none; 
        visibility:none;
    }

    .desk_footer
    {
        display:none; 
        visibility:none;
    }

    p 
    {
        line-height: 25px;
    }
    .card {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: auto;
        margin-top: 50px;
        margin-bottom: 50px;
        padding:20px;
        overflow: hidden;
        box-shadow: 2px 5px rgba(0, 0, 0, 0.1), -2px 0px rgba(0, 0, 0, 0.1);
        border-radius: 1em;
        color: black;
        background: #ECE9E6;
      background: linear-gradient(to right, #FFFFFF, #ECE9E6);
      
      }


      .heading 
      {
          padding-bottom: 20px;
          line-height: 30px;
      }


      .github_link
      {
          background-color:rgb(128, 16, 124);
          color: white;
          border: 2px solid;
          border-radius: 5px;
          padding:10px;
      }

      .github_link_p
      {
          margin-top: 30px;
      }

      .tab_section 
      {
          display:none;
          visibility:none;
      }
      
}


/*--------------------------this is for tab layout --------------------------------*/
@media only screen and (min-width: 768px) and (max-width: 1007px)
{

    .mobile_desktop_section
    {
        display:none;
        visibility:none;
    }


    .desktop_view 
    {
        display:none; 
        visibility:none;
    }

    .desk_footer
    {
        display:none; 
        visibility:none;
    }



    p 
    {
        line-height: 30px;
    }


    .card {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: auto;
        margin-top: 50px;
        margin-bottom: 50px;
        padding:20px;
        overflow: hidden;
        box-shadow: 2px 5px rgba(0, 0, 0, 0.1), -2px 0px rgba(0, 0, 0, 0.1);
        border-radius: 1em;
        color: black;
        background: #ECE9E6;
      background: linear-gradient(to right, #FFFFFF, #ECE9E6);
      
      }




      .heading 
      {
          padding-bottom: 20px;
          line-height: 50px;
      }


      .github_link
      {
          background-color:rgb(128, 16, 124);
          color: white;
          border: 2px solid;
          border-radius: 5px;
          padding:10px;
      }

      .github_link_p
      {
          margin-top: 30px;
      }
}


/*-----------------------this is for desktop layout------------------------*/
@media only screen and (min-width: 1008px) and (max-width: 1605px) 
{

    .mobile_desktop_section
    {
        display:none;
        visibility:none;
    }

    .container
    {
        width:80vw;
        margin:auto;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .desktop_view
    {
        width:100%;
    }

    .an_item
    {
        width:100%;
        border-bottom: 2px solid black;
        padding-bottom: 30px;
        margin-bottom: 50px;
    }

    .portfolio_item
    {
        width:100%;
        display: flex;
    }

    .portfolio_item_col1
    {
        width:50%;
        height:100%;
        padding-bottom: 20px;
    }

    .portfolio_item_col2
    {
        width:50%;
        height:100%;
        padding-bottom: 20px;
    }

    .figcation_div
    {
        background-color:black;
        width:100%;
        display: flex;
        flex-direction: column;
        height:50%;
    }

    .portfolio_img
    {
        width:35px;
        height:35px;
        padding-right: 10px;
    }

    .portfolio_h1
    {
        display:flex;
        align-items: center;
        margin-top: 20px;
    }

    .portfolio_h1_two
    {
        display:flex;
        align-items: center;
        margin-top: 20px;
        justify-content:center;
    }

    .portfolio_text
    {
        margin-top: 35px;
        padding-left: 40px;
        padding-right: 20px;
    }

    .iframe_div
    {
        width:90%;
        margin: auto;
        display:flex; 
        align-items: center;
        justify-content:center;
    }

    .portfolio_banner
    {
        width:500px;
        height:250px;
        padding: 10px;
    }

    .iframe_a
    {
        cursor:pointer;
    }


}
